body {
    font-family:'Courier New', Courier, monospace;
}
.home-header {
    text-align: center;
    background-color:gold;
}
.home-list {
    text-align: center;
    list-style-position:inherit;
}
.home-list.one {
    background-color: red;
}
.home-list.two {
    background-color:cyan;
}
.home-list.three {
    background-color:deeppink;
}
.lasagna-header {
    background-color:red;
    text-align: center;
}
.lasagna-pic.container {
    text-align:center;
    background-color:black;
}
.lasagna-pic {
    height: 220px;
    width:auto;
}
.header-description.lasagna,
.header-ingredients.lasagna,
.header-steps.lasagna {
    background-color:red;

}