.home-header {
    text-align: center;
    background-color:gold;
}
.home-list {
    text-align: center;
    list-style-position:inherit;
}
.home-list.one {
    background-color: red;
}
.home-list.two {
    background-color:cyan;
}
.home-list.three {
    background-color:deeppink;
}
.home-style {
    font-family:'Courier New', Courier, monospace;
}
.lasagna-header {
    background-color:red;
    text-align: center;
}
.lasagna-pic {
    text-align:center;
}